<!DOCTYPE html>
<html>

<head>
    <title>대한민국 컵라면의 역사</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700" rel="stylesheet">
    <meta charset="utf-8">
    <%= stylesheet_link_tag "style" %>
</head>

<body>
    <div id="navigation">
        <div class="nav-item" id="index">
            <%= image_tag("noodles.svg", id:'navbar-icon') %>
            <%= link_to gallery_main_url do%>
            대한민국 컵라면 인덱스
            <%end%>
        </div>
        <div id="navigation-right">
            <div class="nav-item">  
                <%= link_to information_history_path do%>
                    컵라면의 역사
                <%end%>
            </div>
            <div class="nav-item">
                <%= link_to information_processpage_path do%>
                    컵라면의 제조 과정
                <%end%>
            </div>
        </div>
    </div>
    <h2>컵라면은 어떻게 다른가?</h2>
    <p>
        컵라면은 1971년 일본에서 처음 만들어진 이래, 삼양식품에 의해 처음 한국에 출시되었고 그 후 지속적으로 다양한 종류의 컵라면들이 출시, 한국 사람들에게 굉장히 많이 사랑받아 왔다.
        최근
        들어서는 편의점 시장이 확장되고, 간편식에 대한 수요가 늘면서 컵라면 시장이 전체 라면 시장의 약 40%를 장악하는 데까지 이어졌다. 삼양 등의 기업들은 새로운 라면 종류를 출시하기
        이전, 시장
        반응을 확인하기 위해 컵라면으로 먼저 출시를 하기도 한다. 컵라면은 더 이상 단순히 봉지라면의 간소화된 형태가 아니라, 라면 시장의 주류가 되었다.
    </p>
    <p>
        봉지라면에 비해 컵라면이 가지는 차별점들은 다음과 같다.
        <ul>
            <li>봉지라면에 비해 조리 시간이 단축된다</li>
            <li>물이 지속적으로 끓고 있지 않기 때문에 더 낮은 온도에서 익는다</li>
            <li>전분류가 많이 함유되어 면이 꼬들꼬들하다</li>
            <li>일반 면에 비해 더 낮은 온도에서 익히기 위해 면이 더 얇다</li>
        </ul>
    </p>

    <h2>컵라면은 어떻게 변화해왔는가?</h2>
    <p>
        1972년 한국에 출시된 첫 컵라면은 삼양에서 제조한 '삼양 컵라면'이었으나, 당시에는 스티로폼 인스턴트 용기를 사용하는 대신 단열 플라스틱으로 용기를 제조했기 때문에 오히려 봉지라면보다
        단가가
        비쌌고, 그다지 인기를 끌지 못했다. 당시 일본에서 전해져들어온 형태 거의 그대로의 컵라면은 문자 그대로 '컵'형이었기 때문에 손으로 들고 먹는 데에 더 적합한 형태였다. 농심에서는 이를
        한국인에게 더
        친숙한 '사발' 형태로 개선하여 더욱 안정감있는 구조와, 탁자에 올려놓고 먹기에 좋은 형태를 만들었다. 이로 인해 등장한 브랜드가 '사발면'이다.
    </p>
    <p>
        이후 점진적으로 라면에 대한 관심과 소비량이 늘어나면서 컵라면 등에도 다양한 소분류가 생겨나게 된다. 짜파게티, 큰사발면, 튀김우동, 왕뚜껑 등 기존의 컵라면의 형태에 대한 패러다임을
        일부
        비트는
        제품들이 많이 등장했으며, 이는 시장의 다양성을 불러일으킨다.
    </p>
    <p>
        2010년대에 들어서는 '꼬꼬면'으로 대표되는 '하얀 국물 라면'이 라면의 패러다임을 다시 바꾸기 시작했으며, 이와 함께 '프리미엄 라면'의 관점이 발생했다. '신라면 블랙', '나가사끼
        짬뽕'
        등이
        그 대표적인 예시이다. 편의점 음식이 간편식으로, 그리고 1인 가구 및 1인 소비자를 위한 제품군으로 재조명되며 단지 식사를 '때우기' 위한 인스턴트 식품으로서의 인식보다 찾아 먹고,
        즐겨 먹는
        음식으로 변화하며 점점 다양한 제품군이 등장하는 중이다.
    </p>
    <div class="about">
        본 웹페이지는 2019-1학기 웹프로그래밍개론 과제를 위해 만들어졌습니다.
    </div>
</body>

</html>